body{
    background-color: rgb(156, 96, 211);
    color:rgb(30, 3, 51);
    margin: 0px;
}

header{
    border-bottom: solid 2px rgb(139, 0, 93);
    padding: 20px;
    font-size: 32px;
    color: rgb(139, 0, 93);
}